# used during the lab
GOOGLE_CLOUD_PROJECT=your-gcp-project-id
ALLOYDB_REGION=us-central1
ALLOYDB_CLUSTER=pantrypal-cluster
ALLOYDB_INSTANCE=pantrypal-primary
ALLOYDB_IP_TYPE=PUBLIC
DB_NAME=pantrypal
DB_USER=postgres
DB_PASSWORD=change-me

EMBEDDING_MODEL=text-embedding-005
GEMINI_MODEL=gemini-2.5-flash
GEMINI_LOCATION=global
DEFAULT_TIMEZONE=UTC
